.header {
  background-color: $darkHighlight;
  display: block;
  margin-bottom: $rem(30px);
  padding: $rem(20px) 0;

  .logo {
    a {
      color: $paper;
      font-family: $headingFont;
      font-size: $rem(42px);
      font-weight: 700;
      letter-spacing: 1px;
      line-height: $rem(50px);
      text-decoration: none;
    }
  }
}
