.yum-factor {
  &--rate {
    height: $rem(30px);
    width: $rem(30px);
    display: inline-block;
    margin-right: $rem(10px);

    svg {
      width: $rem(30px);
      height: $rem(30px);
    }
  }
}
