<div class="container">
  <h1 class="page-title">Cake Edit</h1>
  <loading ng-if="$ctrl.loading"></loading>
  <form name="form" ng-if="$ctrl.cake" class="form clearfix" ng-submit="$ctrl.submitHandler(form)" novalidate>
    <div class="fields">
      <div class="field">
        <label for="imageUrl" class="label">Image <span class="required-mark">*</span></label>
        <input class="input" type="text" name="imageUrl" id="poster" ng-model="$ctrl.cake.imageUrl" required />
        <div class="field--errors-list" ng-show="form.$submitted || form.imageUrl.$touched">
          <div class="field--error-item" ng-show="form.imageUrl.$error.required">You need to provide an image url.</div>
        </div>
      </div>
      <div class="field">
        <label for="name" class="label">Name <span class="required-mark">*</span></label>
        <input class="input" type="text" name="name" id="name" ng-model="$ctrl.cake.name" required/>
        <div class="field--errors-list" ng-show="form.$submitted || form.name.$touched">
          <div class="field--error-item" ng-show="form.name.$error.required">You need to provide a cake name.</div>
        </div>
      </div>
      <div class="field">
        <label for="comment" class="label">Comment</label>
        <textarea class="input" name="comment" id="comment" ng-model="$ctrl.cake.comment"></textarea>
      </div>
      <div class="field">
        <label for="yum" class="label">Yum factor</label>
        <select class="input" name="yum" id="yum"
        ng-model="$ctrl.cake.yumFactor"
        ng-options="option.name for option in $ctrl.yumScale track by option.id"
        ></select>
      </div>
      <legend class="legend">
        <p>* required field</p>
      </legend>
    </div>
    <div class="actions">
      <input class="button" type="submit" value="Update Cake" />
      <a class="button button__cancel" ng-link="['CakesList']">Cancel</a>
    </div>
  </form>
</div>
