<div class="container">
  <section ng-if="$ctrl.cake" class="cake-details clearfix">
    <div class="fields">
      <img class="cake-details--poster" ng-src="{{$ctrl.cake.imageUrl}}" />
      <h1 class="page-title">{{$ctrl.cake.name}}</h1>
      <yum-factor value="$ctrl.cake.yumFactor.id" class="cake-details--yum-factor yum-factor"></yum-factor>
      <div class="cake-details--comment" ng-bind-html="$ctrl.cake.comment|markdown|unsafe"></div>
    </div>
    <div class="actions">
      <a class="button" ng-link="['CakeEdit', {id: $ctrl.cake._id}]">Edit</a>
      <a class="button button__cancel" ng-link="['CakesList']">View all</a>
    </div>
  </section>
  <loading ng-if="$ctrl.loading"></loading>
</div>
